<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{
    base::html(
        ~{::title},
        ~{::content},
        ~{},
        ~{}
    )
}"
>
  <title>Order History</title>
  <th:block th:fragment="content">
    <h1 class="mb-4">Order History</h1>
    <div th:if="${#lists.isEmpty(orders)}" class="alert alert-info">
      You have not placed any orders yet.
    </div>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>User ID</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="order : ${orders}">


        <!-- <td th:text="${order.id}"></td>
        <td th:text="${order.user.id}"></td>
        <td th:text="${order.status}"></td> -->
        <td>
          <a th:href="">Details</a>
          <a th:href="">Delete</a>
        </td>
      </tr>
    </tbody>
  </th:block>
</html>
