<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{
    base::html(
        ~{::title},
        ~{::content},
        ~{},
        ~{}
    )
}"
>
  <title>Edit Product</title>
  <th:block th:fragment="content">
    <form method="POST" th:object="${product}">
      <div th:replace="~{products/product-form-fields::fields}"></div>
      <button type="submit" class="btn btn-primary" value="Update Product">
        Update Product
      </button>
      <a th:href="@{/products}" class="btn btn-danger">Return</a>
    </form>
  </th:block>
</html>
